td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  height: 40px;

}
table {
  border-collapse: collapse;
  width: 30%;
  page-break-inside:auto;
  page-break-before:auto;
  page-break-after:always;

}

tr    { page-break-inside:avoid; page-break-after:auto;}
thead { display:table-header-group ;}
tfoot { display:table-footer-group; }
html
{
  background-color: #e5e5e5;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto
}
                         .button6{
display:inline-block;
  padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
 box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
text-transform:uppercase;
font-weight:400;
color:#FFFFFF;
background-color:#3369ff;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 text-align:center;
  position:relative;
}
a.button6:active{
 top:0.1em;
}
@media all and (max-width:30em){
a.button6{
    display:block;
    margin:0.4em auto;

  }
}


div.container {
  width: 73%;
  border: none;
  margin: auto;
  background-color: #e5e5e5;
}

header, footer {

  padding: 1em;
  color: white;
  background-color: #007196;
  clear: left;
  text-align: center;
}

/* nav {
  float: right;
 max-width: 160px;
  height: 134px;
  padding: 1em;
 border: solid #333
}
*/
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
}
nav ul li {
  display: inline;
}
article {
  padding: 1em;
}


nav ul li {
  padding-top: 5px;
  margin: 0px;
  text-align: right;
  font-size: 12px;
  list-style: none;
}
ul.menu > li + li:before{
  content: "|\00a0";
  color: #f7f7f7;
  padding: 0 5px;

}
ul.menu > li a{
  color: #ffffff;
  font-size: 16px;
}
ul.menu{
  padding-top: 5px;
  margin: 0px;
  text-align: right;
  font-size: 16px;
  list-style: none;
}
ul.footerMenu > li a{
  color: #007196;
  font-size: 16px;

}
ul.footerMenu > li {
  display: inline;
  padding: 0 5px;
}
