<!DOCTYPE html>
<html>
<head>
</head>
<body>

<header>
  <h1>Welcome to General Grocers</h1>
  <nav>
    <ul class="menu">
      <li><a (click)="goToHome()">Home</a></li>
      <li><a (click)="goToCart()">Cart</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" href="http://localhost:4200/order" class="nav-link">View orders</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" href="http://localhost:4200/logout" class="nav-link">LogOut</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()"> Hello {{sessionStorage.getItem('name')}} </a>  </li>

</ul>
  </nav>

</header>
<!--<nav>
  <ul>
    <li><a href="#">Secondary nav</a></li>
    <li><a href="#">Secondary nav</a></li>
    <li><a href="#">Secondary nav</a></li>
    <li><a href="#">Secondary nav</a></li>
    <li><a href="#">Secondary nav</a></li>
  </ul>
</nav>-->
<main>

<h2 align="center">Products</h2>
  <!--<form [formGroup]="productForm">-->
    <table border="1" align="center" >
      <thead>
      <tr>
        <th>Select</th>
        <th>Info</th>
        <th>Item</th>
        <th> Price</th>
        <th>Quantity</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>
          <input type="checkbox" id="checked" name="checked" [(ngModel)]="item.checked" >
        <!--  formControlName="itemChecked" <span class="text-danger" style="color: red"
                *ngIf="(productFormControl.itemChecked.touched || submitted) && productFormControl.itemChecked.errors?.required">
                             Please select an item.
            </span>-->
        </td>
        <td><img [src]="item.image" style="width: 80px; height: 80px"></td>
        <td>{{item.dish}}</td>
        <td>{{item.price|currency:'CAD':'symbol-narrow'}}</td>

        <td><select [(ngModel)]="item.qty" >
          <option value="0" selected="selected" >Select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>


        </td>
      </tr>
      <tr>

      </tr>
      <tr>
        <td colspan="5" align="right">

          <input type="submit" (click)="addToCart(items)" value="Add to Cart" class="button6"/>
        </td>

        <!-- <td colspan="3" align="right"><input type="submit"  value="Add to Cart"></td>-->
      </tr>
      </tbody>
    </table>

 <!-- </form>-->
</main>

<aside>
  <section>
    <h2>Share</h2>
    <ul class="footerMenu">
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Email</a></li>
    </ul>
  </section>
</aside>

<footer>
  <nav class="navbar-collapse collapse">
  <ul class="menu">
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About</a></li>

  </ul>
  </nav>
</footer>
</body>
</html>

